<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FTIR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <FTIR.Properties.Settings>
      <setting name="HemisphereIPAddress" serializeAs="String">
        <value>192.168.1.14</value>
      </setting>
      <setting name="HemispherePort" serializeAs="String">
        <value>7775</value>
      </setting>
    </FTIR.Properties.Settings>
  </userSettings>
</configuration>